
body{
    background-color: #03092e;
}

.fullContainer{
    height: 55vh;
    width: 350px;
    background-color: #25366d;
    margin: auto;
    margin-top: 20vh;
    border-radius: 15px;
    box-shadow: 10px 10px 40px 40px #05092291;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

#block{
    width: 90%;
    border-radius: 15px;
    z-index: 30;
    position: relative;
    margin-left: 5%;
    margin-top: 2.5vh;
}
#block2{
    background-color: red;
    width: 90%;
    margin-top: -0vh;
    margin-left: -90%;
    border-radius: 15px;
    position: relative;
    position:absolute;
    z-index: 1;
    opacity: .3;
    margin-top: 2.5vh;
}

#block:hover{
    background-color: aqua;
    opacity: .0;
    transition: ease-out .5s;
}

h1{
    color:rgb(4, 189, 189);
    font-size: 22.5px;
}

p{
    color: grey;
    letter-spacing: 1px;
}

#mainText{
    margin: 5%;
}

h3{
    color:rgb(4, 189, 189);
    display: inline;
}

h4{
    color: grey;
    display: inline;
    text-align: right;
    margin-left: 43%;
}

hr{
    margin-top: 15px;
    border: none;
    width:100%;
    height:1px;
    background:grey;
}

h6{
    margin-top: 30px;
    line-height: 1px;
    font-size: 12.5px;
    text-align: center;
    color: rgb(184, 184, 184);
}
